.bigger-text {
	font-size: 1.5em;

  @media (max-width: $desktop-sm) {
    font-size: 1.2em;
  }
}

.subtext {
	line-height: 1.4;
	color: lighten($main-font-color, 30%);
	font-size: 1em;

  @media (max-width: $desktop-sm) {
    font-size: 0.8em;
	}
}

.btn-main {
  color: white;
  background-color: $normal;
  border-radius: 2rem;
  border: none;
  padding: 1rem 2rem;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

  &:hover {
    background-color: darken($color:$normal, $amount: 10%);
  }

  a {
    color: white;
    text-decoration: none;
  }
}